body{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('n_1.jpg') ;
  background-size: cover;
  background-position: center;
}
.container{
    text-align: center;
    justify-content: center;
    color: rgb(12, 240, 191);
}
.obj {
    justify-content: center;
    align-items: center;
    color: rgb(224, 20, 201); 
}
p{
    color: rgb(224, 66, 121);
    text-align: center;
    font-size: larger;
}
.information{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(15, 234, 128);
}
.info{
    text-align: left;
    height: 370px; 
    width: 340px;
}

.dream{
    text-align: right;
    height: 370px; 
    width: 340px;   
}
a{
    color: rgb(15, 234, 128);
    text-decoration: none;
}
  a:hover{
    text-decoration: underline;
}
.skillbox {
    text-align: center;
}
p1{
    color: rgb(15, 234, 128);
}